---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">Bloom Chat Demo</span>
    <span class="gpt-subtitle">By Bloom AI</span>
    <h1 style="font-family:'Monospace'">BloomAI - A large language model like none other</h1>
  </div>
  <p mt-1 op-60>A fine-tuned version of Bloom Large using Reinforcement Learning</p>
</header>
